.filter-popper {
	padding: 0.5rem;
	width: 280px;
	overflow: hidden;

	.filter-form {
		.form-group {
			padding: 0 5px;
		}

		.input-group {
			margin-top: 16px;
		}

		.form-group-2 {
			padding: 0 5px;
			margin-top: 1rem;

			.form-control {
				width: 100%;
				z-index: 10000;
			}
		}

		.filter-btn {
			float: right;
			margin-right: 5px;

			.filter-icon {
				margin-right: 5px;
			}
		}
	}
}
